table td {
  vertical-align: middle;
}
table td p {
  margin: 0;
}
.navbar-default {
  background-color: #005a95;
  border: none;
  min-height: 0;
}
.navbar-default .navbar-header.nav-bar-guest {
  margin: 0 auto 9px;
  width: 112px;
  float: none;
}
.navbar-default .navbar-header .navbar-brand {
  height: auto;
  padding: 9px 20px 0 0px;
}
.navbar-default .navbar-header .navbar-brand img {
  width: 120px;
  padding: 0px 0 0 0;
  height: auto;
  line-height: 0;
}
.navbar-default .navbar-nav .active a,
.navbar-default .navbar-nav .open a {
  background-color: #8aa4c3;
}
.navbar-default .navbar-nav .active a:hover,
.navbar-default .navbar-nav .open a:hover,
.navbar-default .navbar-nav .active a:focus,
.navbar-default .navbar-nav .open a:focus {
  background-color: #8aa4c3;
}
.navbar-default .navbar-nav li a {
  padding: 14px 15px;
}
.navbar-default .navbar-nav li a:hover {
  background-color: #8aa4c3;
}
.navbar-default .navbar-nav li a:focus {
  background-color: #005a95;
}
.navbar-default .navbar-nav .dropdown .label {
  padding: 4px 7px 4px 7px;
  margin: 0px 0 0 2px;
  vertical-align: text-bottom;
  display: inline-block;
}
.navbar-default .navbar-nav .dropdown .dropdown-menu li a {
  background-color: white;
}
.navbar-default .navbar-nav .dropdown .dropdown-menu li a:hover,
.navbar-default .navbar-nav .dropdown .dropdown-menu li a:focus {
  color: #005a95;
}
.container .modal-title.home {
  margin: 0 auto 13px;
  width: 110px;
}
.container table th {
  text-align: center;
}
.container .m-b {
  margin-bottom: 40px;
}
.container .m-b .panel {
  margin-bottom: 10px;
}
.container .service-search-form {
  display: block;
  margin: 5px auto 0;
  width: 50%;
}
.container .service-search-form .form-control {
  display: inline-block;
  width: 80%;
}
.container .service-search-form .btn-primary {
  display: inline-block;
  vertical-align: baseline;
  margin-left: 5px;
}
.container .result-set {
  position: relative;
}
.container .result-set .service-not-found {
  font-size: 16px;
}
.container .result-set .loading {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: white;
  opacity: 0.7;
  padding: 30px 0;
  z-index: 99999;
}
.container .result-set .loading img {
  width: 120px;
  height: auto;
  line-height: 0;
  position: absolute;
  top: 45%;
  left: 43.5%;
}
.container .result-set #index-data-table {
  margin: 30px 0 0;
  display: none;
}
.container .result-set #services-data-table {
  margin: 30px 0 0;
}
.panel .panel-title a {
  font-weight: bold;
}
.panel .panel-title span {
  display: inline-block;
  margin-left: 5px;
}
.panel .panel-body .permissions-panel-title {
  display: block;
  margin: 0px 15px 5px 15px;
  font-weight: 400;
}
.panel .panel-body .permissions-panel-title.view-states {
  margin-top: 20px;
}
.form-control.default-email {
  margin: 10px 15px 20px;
  width: 250px;
}
.role-checkbox-container {
  margin: 0 0 10px 0;
  padding: 0px 15px;
  background-color: #efeeee;
  display: inline-block;
}
.crud-menu a {
  display: block;
  margin-bottom: 10px;
  width: 220px;
}
.form-group .show-field {
  display: block;
}
.form-group .images-container {
  display: block;
  background-color: #f7f7f7;
  padding: 20px;
}
.form-group .images-container a {
  display: inline-block;
}
.form-group .images-container a .img-container {
  display: inline-block;
  width: 110px;
  height: 110px;
  background-color: #dedede;
  padding: 10px;
  margin: 0 10px 15px 10px;
  vertical-align: top;
}
.form-group .images-container a .img-container .img {
  max-width: 100%;
  display: block;
}
.form-group .images-container a .img-container .img img {
  width: 100%;
}
.service-form {
  margin: 0 0 40px;
}
.service-form .form-group input[type='checkbox'] {
  margin: 4px 0 0 4px;
}
.client-form {
  margin: 0 0 40px;
}
.client-form .form-group .sex-label {
  display: block;
}
.client-form .form-group .sex-label-f {
  margin: 0 0 0 10px;
}
.client-form .form-group.address input {
  margin: 0 0 10px 0;
}
.client-form .form-group input[type='checkbox'],
.client-form .form-group input[type='radio'] {
  margin: 4px 0 0 4px;
}
.warranty-form {
  margin: 0 0 40px;
}
.warranty-form .form-group input[type='checkbox'],
.warranty-form .form-group input[type='radio'] {
  margin: 4px 0 0 4px;
}
.part-form {
  margin: 0 0 40px;
}
.part-form .form-group input[type='checkbox'] {
  margin: 4px 0 0 4px;
}
.part-form .images-container-group .images-container {
  display: block;
  background-color: #f7f7f7;
  padding: 20px;
}
.part-form .images-container-group .images-container .img-container {
  display: inline-block;
  width: 110px;
  height: 110px;
  background-color: #dedede;
  padding: 10px;
  margin: 0 10px 15px 10px;
  vertical-align: top;
}
.part-form .images-container-group .images-container .img-container .img-title {
  display: block;
  font-size: 10px;
  margin: 0 0 2px;
}
.part-form .images-container-group .images-container .img-container .img {
  display: inline-block;
  max-width: 60px;
}
.part-form .images-container-group .images-container .img-container .img img {
  width: 100%;
}
.part-form .images-container-group .images-container .img-container .img-delete {
  display: inline-block;
  padding: .45px 5px .5px;
  margin: 0 0 0 8px;
  font-size: 10px;
  vertical-align: top;
}
.part-form .image-upload-container .dropzone-image-row {
  min-height: 0;
  width: 100%;
}

.form-group .draggable-element-row {
  background-color: #dedede;
  height: 45px;
  margin-top: 5px;
  padding: 5px;
  width: 100%;
}

.form-group .draggable-element-row .element-name{
  border: 1px solid #bababa;
  display: inline-block;
  padding: 6px 9px;
  background-color: #fff;
  vertical-align: middle;
}

.form-group .draggable-element-row .pull-right {
  float: right!important;
}

.form-group .draggable-element-row .btn-success, .form-group .draggable-element-row .btn-danger {
  padding: 6px 12px;
}
.client-form.services-for-billing{
  float: left;
  padding: 20px 0 0 15px;
  width: 100%;
}